

<div id="messageComment-{{commentId}}">
    <strong class="author-text">@{{Username}}</strong>
    <span class="date-posted">{{creationTime}} </span>
    <div class="comment-text"> {{commentText}}</div>
</div>

