<h1 class="photo_count" id="photo_count"></h1>
<div class="container" id="container">
    <div id="main-content" class="main-content">
        {{#each results}}
                {{> card this}}
            {{/each}}
    </div>
</div>

