<div class="filter">
    <div class="grid-container">
        <header>
            <h1>Login</h1>
        </header>

        <form class="grid-container_form" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
            <fieldset class="flogin">
                <input id="username" name="username" class="label1 input inputlogin" placeholder="Username" required>
                <input id="password" name="password" type="password" class="label2 input inputlogin" placeholder="Password" required>
            </fieldset>
            <div class="button-container">
                <button type="submit" class="buttonLeft">Login</button>
                <button type="reset" class="buttonRight">Reset</button>
            </div>
            <div class="info">
                <p >New user? <a href="/registration">Sign in here </a></p>
            </div>
        </form>
    </div>
</div>


